<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta charset="utf-8">
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description"
          content=""/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet"
          href="file:///android_asset/static_day.css">
    </link>


</head>



<body>
<div id="title">
    <span class="title"></span>
    <span class="src"></span>
</div>

<div id="content" class="main article-content" min-article-length="600"">

</div>
</body>

</html>